/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Remake for main Site
 */
 
/*!
For the images thumbhails
*/  
.thumbUnSign {
    width: 120px;
    height: 120px;
    filter: none; /* IE6-9 */ 
    -webkit-filter: grayscale(0); 
    border-radius:5px; 
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding:4px; 
    margin:4px;
}

.thumb {
    width: 120px;
    height: 120px;
    filter: none; /* IE6-9 */ 
    -webkit-filter: grayscale(0); 
    border-radius:5px; 
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding:4px; 
    margin:4px 4px 0px;
}

.thumbInfoUnSign {
    width: 140px;
    height: 140px;
    filter: none; /* IE6-9 */ 
    -webkit-filter: grayscale(0); 
    border-radius:5px; 
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding:4px; 
    margin:4px;
}

.thumbInfo {
    width: 160px;
    height: 160px;
    filter: none; /* IE6-9 */ 
    -webkit-filter: grayscale(0); 
    border-radius:5px; 
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding:4px; 
    margin:4px 4px 0px;
}

/* Text font into body */
body {
    font-family: Merriweather,'Helvetica Neue', Verdana, sans-serif;
}

/* Font for text within p-tags */
p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}


header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(http://history-belarus.by/img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*Parameters of HeaderContent*/

header .header-content {
    position: relative;
    width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}


